<p style="color: green"><%= notice %></p>
<p><%= link_to "<- Back to Task List", tasks_path, class:"link-grey" %></p>
<br />
<div class="card show-container">
  <div class="card-header">
    <p><b>Task Name:</b> <%= @task.name %></p>
  </div>
  <div id="<%= dom_id @task %>" class="card-body">
   <b>Task Description:</b> <%= @task.description %>
  </div>
</div>
<br />
<div class="edit-links">
  <p>
    <%= link_to "Edit this task", edit_task_path(@task), class:"btn btn-secondary" %> &nbsp;&nbsp;&nbsp;
  </p>
  <p class="button">
    <%= button_to "Delete task", @task, method: :delete, class:"btn btn-secondary" %>
  </p>
</div>
